[Unit]
Description=Migration Rsync Service
After=network.target
PartOf=migration_rsync.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/migration/logs/rsync/migration_rsync_ansible.log
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_rsync.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
