[Unit]
Description=Migration Handle DNS Service
After=network.target
PartOf=migration_handle_dns.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/migration/logs/handle_dns/migration_handle_dns_ansible.log
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_handle_dns.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
