[Unit]
Description=Migration Handle Account Service
After=network.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/migration/logs/handle_account/migration_handle_account_ansible.log
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_handle_account.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
