[Unit]
Description=Migration Zencheck Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_zencheck.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
