[Unit]
Description=Migration Rsync Last Service
After=network.target
PartOf=migration_rsync_last.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/migration/logs/rsync_last/migration_rsync_last_ansible.log
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_rsync_last.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
