[Unit]
Description=Migration Check Service
After=network.target
PartOf=migration_check.target

[Service]
Environment=ANSIBLE_LOG_PATH=/opt/migration/logs/check/migration_check_ansible.log
Type=simple
ExecStart=/opt/migration/bin/pythonMigration /opt/migration/bin/migration_check.py
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
